.articles__container{
  background: #FAFAFA;
  padding: 60px Max(40px, calc((100% - 900px) / 2));
}

.search__box{
  width: 450px;
  height: 40px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 16px;
}
.search__input{
  width: 100%;
  max-width: unset;
  height: 100%;
  margin: 0;
  padding-right: 10px;
  background: none;
  border: none;
  outline: none;
}
.btn{
  border: none;
  outline: none;
  background: transparent!important;
}

/* Article contant */
.article__content{
  /* padding: 0 120px; */
}
.article__content_box{
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.article__content_img{
  margin-right: 30px;
}
.article__content_title{
  font-weight: 500;
  color: #0a84ff;
  transition: all 0.3s linear;
  transform: scale(1); /* Standard Property */
  transform-origin: 0 0;  /* Standard Property */
  cursor: pointer;
  text-decoration: underline;
}
.article__content_title:hover{
  color: #000;
}
.article__content_authors{
  margin: 15px 0;
  font-weight: 400;
}
.article__content_j_d{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.article__content_journal{
  margin-right: 5px;
}
.article__content_date{
  margin-left: 5px;
}
.article__content_keywords span{
  background-color: #0a84ff;
  color: #fff;
  border-radius: 15px;
  padding: 4px 8px;
  margin-right: 5px;
}

/* Pagination */
.pagination__nav{
  list-style-type: none;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.page__link{
  padding: 1px 10px;
  border: 1px solid #999999;
  cursor: pointer;
  color: #0a84ff;
  transition: all 0.3s linear;
}
.page__link:hover{
  background-color: #999999;
}
.page__link:checked{
  outline: 1px solid #0a84ff;
}