.footer{
  background-color: var(--color-bg-navbar);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 5rem;
  color: #fff;
}

.footer__links a svg{
  font-size: 1.25rem;
  padding: 0 0.8rem;
}
.footer__links a{
  transition: all linear 0.3s;
  transform: scale(1); /* Standard Property */
  transform-origin: 0 0;  /* Standard Property */
}
.footer__links a:hover{
  color: #878380;
}

.footer__desc{
  margin-top: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 5px;
  font-size: 0.9rem;
}
.footer__desc .heart {
  color: rgb(202, 41, 41);
}